<div data-ng-controller="HeaderController">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="#/" class="navbar-brand setElementAsPointer">Test Task</a>
		</div>

		<nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
		</nav>
	</div>
</div>