.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.browsehappy.jumbotron.hide,
body.ng-cloak
{
	display: block;
}

.setElementAsPointer{
	cursor: pointer;
}

body {
	position: relative;
	background-color: #F6F6F6;
}

.tab-content {
	background: #fff;
	padding: 20px;
	border-bottom: 1px solid #E2E2E2;
	border-left: 1px solid #ECECEC;
	border-radius: 0 3px 3px;
	-webkit-border-radius: 0 3px 3px;
	border-right: 1px solid #ECECEC;
	box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04);
	margin-bottom: 40px;
}

header{
	position: relative !important;
}


ul.myListOfMessages{
	list-style-type: none;
	padding-left: 0;
}

.repeat-item.ng-enter,
.repeat-item.ng-leave {
	-webkit-transition:0.5s linear all;
	transition:0.5s linear all;
}

.repeat-item.ng-enter,
.repeat-item.ng-leave.ng-leave-active {
	opacity:0;
	height: 0px;
}
.repeat-item.ng-leave,
.repeat-item.ng-enter.ng-enter-active {
	opacity:1;
	height: 30px;
}

